<div class="row">
  <div class="col-sm-offset-2 col-sm-8">
    <%= render 'follow_form' if user_signed_in? %>
    <h3><%= @title %> (<%= @count %>)</h3>
    <ol class="users">
      <%= render @users %>
      <%= paginate @users %>
    </ol>
  </div>
</div>