<div class="row">
  <div class="col-sm-offset-2 col-sm-8">
    <h2>ユーザー情報</h2>
    <table class="table table-striped">
      <tr>
        <th>ユーザー名</th>
        <td><%= @user.username %></td>
      </tr>
      <tr class="active">
        <th>メールアドレス</th>
        <td><%= @user.email %></td>
      </tr>
    </table>
    <%= link_to "followings", followings_user_path(@user) %>
     | <%= link_to "followers", followers_user_path(@user) %>
    <%= render 'follow_form' %>
    <% if current_user==@user %> 
     | <%= link_to 'プロフィール変更', edit_user_registration_path %>
    <% end %>
  </div>
</div>
