<%= link_to '新規投稿', new_contentpost_path, class: "btn btn-success btn-shinki" %>
<% @contentposts.each do |contentpost| %>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <span class="user">
          <%= link_to contentpost.user.username, contentpost.user %>
        </span>
        <span class="title">
          <%= contentpost.title %>
        </span>
      </div>
      <div class="panel-body">
        <span class="content">
          <%= contentpost.content %>
        </span>
      </div>
      <div class="panel-footer">
        <%= link_to '詳細', contentpost %>
        <% if current_user == contentpost.user %>
             | <%= link_to '編集', edit_contentpost_path(contentpost) %>
             | <%= link_to "削除", contentpost_path(contentpost), method: :delete,
                                               data: { confirm: "削除してよろしいですか？" } %>
        <% end %>
      </div>
    </div>
<% end %>
<%= paginate @contentposts %>
